/data/data.all.out.txt
/data/streamf.100k.txt
/data/streamf.txt
/data/streamo.100k.txt
/data/streamo.txt
/data/streamp.100k.txt
/data/streamp.txt
/data/streamq.txt
/data/streamqh/
/data/streamqh.100k/
/data/streamqh.txt
/data/streams.100k.txt
/data/streams.txt
/data/streamt.100k.txt
/data/streamt.txt
/sandpit/
/data/stream.100k.txt
/data/streamq.100k.txt
/data/streamqh.100k.txt
